[Desktop Entry]
Name=BiliBili
Exec=/compat/linux/opt/bilibili/bilibili %U
Terminal=false
Type=Application
Icon=/compat/linux/usr/share/icons/hicolor/512x512/apps/bilibili.png
StartupWMClass=BiliBili
Categories=AudioVideo;Network;
Comment=BiliBili
MimeType=x-scheme-handler/tencent;x-scheme-handler/http;x-scheme-handler/https;
