[Desktop Entry]
Name=STM32CubeMX
Exec=/compat/linux/home/lfour/STM32CubeMX/STM32CubeMX %U
Terminal=false
Type=Application
Icon=/compat/linux/usr/share/icons/hicolor/512x512/apps/stm32cubemx.png
StartupWMClass=STM32CubeMX
Categories=Development;
Comment=STM32CubeMX
MimeType=application/x-stm32cube-ioc;
