[Desktop Entry]
Name=Clash-Verge
Exec=/compat/linux/usr/bin/clash-verge %U
Terminal=false
Type=Application
Icon=/compat/linux/usr/share/icons/hicolor/128x128/apps/clash-verge.png
StartupWMClass=Clash-Verge
Categories=Internet;
Comment=Clash-Verge
MimeType=application/x-yaml;text/x-yaml;text/yaml;text/plain;
